.nav{
    height: 50px;
        width: 100%;
        background: black;
        color: white;
        margin-top: 0;
}
.nav-grid{
    display: grid;
    grid-template-columns: 33% 66%;
}

.nav-grid-item li{
    text-align: right;
    list-style: none;
    display: inline-block;
    float: right;
}

.nav-links{
    color: white;
    text-decoration: none;
    margin: 0 7px;
}
